-f https://download.pytorch.org/whl/torch_stable.html
tensorflow==2.15.0
torch==2.2.1+cpu 
torchvision==0.17.1+cpu 
joblib==1.4.0
numpy==1.25.2
pandas==2.0.3
Pillow==9.4.0
scikit-learn==1.2.2
streamlit==1.10.0
